body {
    font-family: 'Jost', sans-serif;
    background-color: white;
    margin: 30px;
}

.jumbotron {
    color: white;
}


#currentForcast {
    
}

#forcast {
    border: 1px solid black;
}

.forcast-boxes  {
    margin: 5px;
    background-color: blue;
    color: white;
} 



