body {
    font-family: 'Jost', sans-serif;
    background-color: rgb(177, 212, 233);
   
}

.jumbotron {
    background-color:rgb(110, 179, 170);
    color: white;
}


#forcast {
    border: 1px solid black;
}

.forcast-boxes  {
    margin: 7px;
    background-color: rgb(110, 179, 170);
    color: white;
    border-radius: 20px;
    
} 



